.vscode/**
.vscode-test/**
.claude/**
node_modules/**
src/**
scripts/**
docs/**
testFixture/**
.gitignore
**/*.ts
**/*.map
**/*.tsbuildinfo
**/tsconfig.json
**/tsconfig.base.json
eslint.config.mjs
esbuild.js
*.vsix
